@import url("header.css");
@import url("diferenciais.css");
@import url("vagas.css");


/* Variáveis */
:root {
  --cinza-texto-escuro: #3a404e;
  --cinza-texto-claro: #667085;
  --vinho-escuro: #8e2424;
  --preto-texto: #101828;
  --branco: #ffffff;
  --fonte-principal: "Inter";
  --fundo-span: #F9F4F4;
  --cinza-borda: #EAECF0;
}

body {
  font-family: var(--fonte-principal);
  font-size: 16px;
  color: var(--cinza-texto-claro);
  font-weight: 400;
}

.container {
    width: calc(100% - 224px);
    margin: 0 auto;
}

.padding__duplo {
  padding: 96px 0;
}
.padding__simples {
  padding: 0 0 96px 0;
}

.secao__titulo {
  color: var(--vinho-escuro);
  font-weight: 600;
}
.secao__paragrafo {
  width: 55%;
  margin: 0 auto;
  line-height: 30px;
}
