@import url("header.css");

/* Variáveis */
:root {
    --cinza-texto-escuro: #3A404E;
    --cinza-texto-claro: #667085;
    --vinho-escuro: #8E2424;
    --preto-texto: #101828;
    --branco: #ffffff;
    --fonte-principal: 'Inter';
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cinza-texto-claro);
    font-weight: 400;
}